
<div id="beaker">
  <h1>ChemLab</h1>

  <span class="bubble">
    <span class="glow"> </span>
  </span>

  <span class="bubble2">
    <span class="glow"> </span>
  </span>

  <div id="image">
    <%= image_tag("beaker.png", :alt => "beaker feed") %>
  </div>

</div>


