<link href='https://fonts.googleapis.com/css?family=Tauri' rel='stylesheet' type='text/css'>


<div class="element-container" alt="h">
  <div class="atomic-number">1</div>
  <div class="element-symbol">H</div>
  <div class="element-name">Hydrogen</div>
  <div class="atomic-weight">1.00794</div>
</div>
  
<div class="element-container" alt="he">
  <div class="atomic-number">2</div>
  <div class="element-symbol">He</div>
  <div class="element-name">Helium</div>
  <div class="atomic-weight">4.002602</div>
</div>
  
<div class="element-container">
  <div class="atomic-number">3</div>
  <div class="element-symbol">Li</div>
  <div class="element-name">Lithium</div>
  <div class="atomic-weight">6.941</div>
</div>
<!-- 
<div style="clear:both"></div> -->

<div class="element-container">
  <div class="atomic-number">4</div>
  <div class="element-symbol">Be</div>
  <div class="element-name">Beryllium</div>
  <div class="atomic-weight">9.012182</div>
</div>
  
<div class="element-container">
  <div class="atomic-number">5</div>
  <div class="element-symbol">B</div>
  <div class="element-name">Boron</div>
  <div class="atomic-weight">10.81</div>
</div>
  <div class="element-container">
  <div class="atomic-number">6</div>
  <div class="element-symbol">C</div>
  <div class="element-name">Carbon</div>
  <div class="atomic-weight">12.011</div>
</div>

<!-- <div style="clear:both"></div> -->

  <div class="element-container" alt="n">
  <div class="atomic-number">7</div>
  <div class="element-symbol">N</div>
  <div class="element-name">Nitrogen</div>
  <div class="atomic-weight">14.007</div>
</div>
  <div class="element-container" alt="o">
  <div class="atomic-number">8</div>
  <div class="element-symbol">O</div>
  <div class="element-name">Oxygen</div>
  <div class="atomic-weight">15.999</div>
</div>
<div class="element-container">
  <div class="atomic-number">9</div>
  <div class="element-symbol">F</div>
  <div class="element-name">Fluorine</div>
  <div class="atomic-weight">18.998</div>
</div>
  <div class="element-container">
  <div class="atomic-number">10</div>
  <div class="element-symbol">Ne</div>
  <div class="element-name">Neon</div>
  <div class="atomic-weight">20.180</div>
</div>


<p>What is the Lewis Dot Structure for OH?</p>

<div class="block">
    <div id="one" class="dotted">H</div> 
    <div id="two" class="dotted">O</div> 
    <div id="three" class="dotted">3</div> 
    <div style="clear:both"></div>
    <div id="four" class="dotted">4</div>
    <div id="5" class="dotted">5</div>
    <div id="6" class="dotted">6</div>
    <div style="clear:both"></div>
    <div id="seven" class="dotted">7</div>
    <div id="eight" class="dotted">8</div>
    <div id="nine" class="dotted">9</div>
</div>
<div id="results">

</div>