<h1>Lewis dot Structure</h1>

<ul class="collapsible" data-collapsible="expandable">
    <li>
      <div class="collapsible-header"><i class="mdi-image-filter-drama"></i>Electron Configuration</div>
      <div class="collapsible-body">
        <p>Lewis Structures are visual representations of the bonds between atoms and illustrate the lone pairs of electrons in molecules. They can also be called Lewis dot diagrams and are used as a simple way to show the configuration of atoms within a molecule.</p>
        <div><%= image_tag 'http://www.middleschoolchemistry.com/img/content/multimedia/chapter_4/lesson_4/covalent_bond_hydrogen_1.jpg', :class => 'himg'%></div>
        <div><%= image_tag 'http://www.middleschoolchemistry.com/img/content/multimedia/chapter_4/lesson_6/covalent_bond_hydrogen_2.jpg', :class => 'himg2' %></div>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-maps-place"></i>Valence Electrons/Ionic and Covalent bonds</div>
      <div class="collapsible-body">
        <p>
          Valence electrons, or the electrons in the outermost electron shell, have an essential role in chemical bonding.
          Ionic bonds are formed between atoms when electrons are transferred from one atom to another. Ionic bond is a bond between nonmetals and metals .
          Covalent bonds are formed between atoms when pairs of electrons are shared between atoms. A covalent bond is between two nonmetals.
          Electrons are transferred/shared so that each atom may reach a more stable electron configuration i.e. the noble gas configuration which contains 8 valence electrons. This is called octet rule.
        </p>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="mdi-social-whatshot"></i>Reading the Periodic Table</div>
      <div class="collapsible-body">
        <div class="wrapper">
          <ul class="main">

            <p>The arrangement of the periodic table is grouped in many ways, one of which shows how many valence electrons are on the outer most shell of an element.</p>
            <!-- Valence E' -->

            <li class="empty">I</li>
            <li class="empty">II</li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty">III</li>
            <li class="empty">IV</li>
            <li class="empty">V</li>
            
            <li class="empty">VI</li>
            <li class="empty">VII</li>
            <li class="empty">VIII</li>
            <!-- ROW 1 -->

            <li data-pos="1" data-nb="1.0079" class="type-1 cat-2">H<span>Hydrogen</span></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li data-pos="2" data-nb="4.0026" class="type-2 cat-2">He<span>Helium</span></li>
            
            <!-- ROW 2 -->
            
            <li data-pos="3" data-nb="6.941" class="type-3 cat-0">Li<span>Lithium</span></li>
            <li data-pos="4" data-nb="9.0122" class="type-4 cat-0">Be<span>Beryllium</span></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li data-pos="5" data-nb="10.811" class="type-5 cat-0">B<span>Boron</span></li>
            <li data-pos="6" data-nb="12.011" class="type-5 cat-0">C<span>Carbon</span></li>
            <li data-pos="7" data-nb="14.007" class="type-5 cat-2">N<span>Nitrogen</span></li>
            
            <li data-pos="8" data-nb="15.999" class="type-5 cat-2">O<span>Oxygen</span></li>
            <li data-pos="9" data-nb="18.998" class="type-5 cat-2">F<span>Fluorine</span></li>
            <li data-pos="10" data-nb="20.180" class="type-2 cat-2">Ne<span>Neon</span></li>
            
            <!-- ROW 3 -->
            
            <li data-pos="11" data-nb="22.990" class="type-3 cat-0">Na<span>Sodium</span></li>
            <li data-pos="12" data-nb="24.305" class="type-4 cat-0">Mg<span>Magnesium</span></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            <li class="empty"></li>
            
            <li class="empty"></li>
            <li class="empty"></li>
            <li data-pos="13" data-nb="26.982" class="type-7 cat-0">Al<span>Aluminium</span></li>
            <li data-pos="14" data-nb="28.086" class="type-5 cat-0">Si<span>Silicon</span></li>
            <li data-pos="15" data-nb="30.974" class="type-5 cat-0">P<span>Phosphorus</span></li>
            
            <li data-pos="16" data-nb="32.065" class="type-5 cat-0">S<span>Sulfur</span></li>
            <li data-pos="17" data-nb="35.453" class="type-5 cat-2">Cl<span>Chlorine</span></li>
            <li data-pos="18" data-nb="39.948" class="type-2 cat-2">Ar<span>Argon</span></li>
            
            <!-- ROW 4 -->
            
            <li data-pos="19" data-nb="39.098" class="type-3 cat-0">K<span>Potassium</span></li>
            <li data-pos="20" data-nb="40.078" class="type-4 cat-0">Ca<span>Calcium</span></li>
            <li data-pos="21" data-nb="44.956" class="type-6 cat-0">Sc<span>Scandium</span></li>
            <li data-pos="22" data-nb="47.867" class="type-6 cat-0">Ti<span>Titanium</span></li>
            <li data-pos="23" data-nb="50.942" class="type-6 cat-0">V<span>Vanadium</span></li>
            
            <li data-pos="24" data-nb="51.996" class="type-6 cat-0">Cr<span>Chromium</span></li>
            <li data-pos="25" data-nb="54.938" class="type-6 cat-0">Mn<span>Manganese</span></li>
            <li data-pos="26" data-nb="55.845" class="type-6 cat-0">Fe<span>Iron</span></li>
            <li data-pos="27" data-nb="58.933" class="type-6 cat-0">Co<span>Cobalt</span></li>
            <li data-pos="28" data-nb="58.693" class="type-6 cat-0">Ni<span>Nickel</span></li>
            
            <li data-pos="29" data-nb="63.546" class="type-6 cat-0">Cu<span>Copper</span></li>
            <li data-pos="30" data-nb="65.39" class="type-7 cat-0">Zn<span>Zinc</span></li>
            <li data-pos="31" data-nb="69.723" class="type-7 cat-0">Ga<span>Gallium</span></li>
            <li data-pos="32" data-nb="72.64" class="type-7 cat-0">Ge<span>Germanium</span></li>
            <li data-pos="33" data-nb="74.922" class="type-5 cat-0">As<span>Arsenic</span></li>
            
            <li data-pos="34" data-nb="78.96" class="type-5 cat-0">Se<span>Selenium</span></li>
            <li data-pos="35" data-nb="79.904" class="type-5 cat-1">Br<span>Bromine</span></li>
            <li data-pos="36" data-nb="83.80" class="type-2 cat-2">Kr<span>Krypton</span></li>
         </ul>
       </div>
     </div>
     </div>
    </li>
</ul>

