<h1>Testcenter</h1>

<div style="float:left">
    <div id="hydrogen" class="square"><h4>H</h4></div>
    <div id="oxygen" class="square"><h4>O</h4></div>
    <div id="hydrogen2" class="square"><h4>H</h4></div>
    <!-- <div style="clear:both"></div>
    <div class="square">4</div>
    <div class="square">5</div>
    <div class="square">6</div>
    <div style="clear:both"></div>
    <div class="square">7</div>
    <div class="square">8</div>
    <div class="square">9</div> -->
</div>
<div style="float:left;margin-left:50px;">
    <div id="one" class="squaredotted"><p>1</p></div> 
    <div id="two" class="squaredotted"><p>2</p></div> 
    <div id="three" class="squaredotted">3</div> 
    <div style="clear:both"></div>
    <div id="four" class="squaredotted"><p>4</p></div>
    <div id="five" class="squaredotted"><p>5</p></div>
    <div id="six" class="squaredotted"><p>6</p></div>
    <div style="clear:both"></div>
    <div id="droppable" class="squaredotted">7</div>
    <div id="droppable" class="squaredotted">8</div>
    <div id="droppable"class="squaredotted">9</div>
</div>




